*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

.container{
    width:90%;
    max-width:1200px;
    margin:30px auto;
}

h1{
    text-align:center;
    color:#0d6efd;
    margin-bottom:25px;
}

.form-section{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    margin-bottom:25px;
}

.form-section h2{
    margin-bottom:15px;
    color:#333;
}

.form-section input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:16px;
}

.form-section input:focus{
    border-color:#0d6efd;
    outline:none;
}

button{
    padding:12px 25px;
    background:#0d6efd;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
    
}

button:hover{
    background:#084298;
}

.report-buttons{
    margin-bottom:20px;
}

.report-buttons button{
    margin-right:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

table th{
    background:#0d6efd;
    color:#fff;
    padding:12px;
}

table td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

table img{
    width:60px;
    height:60px;
    border-radius:5px;
    object-fit:cover;
}

.edit-btn{
    background:#198754;
    margin-right:5px;
}

.edit-btn:hover{
    background:#146c43;
}

.delete-btn{
    background:#dc3545;
}

.delete-btn:hover{
    background:#bb2d3b;
}

@media(max-width:768px){

table{
    display:block;
    overflow-x:auto;
}

.form-section input{
    font-size:14px;
}

button{
    width:100%;
    margin-top:10px;
}

.report-buttons button{
    width:100%;
    margin-bottom:10px;
}

}
@media print {

    body * {
        visibility: hidden;
    }

    #printArea,
    #printArea * {
        visibility: visible;
    }

    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 58mm;
        font-size: 12px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 3px;
        text-align: left;
    }

}