
/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding:0;

    background-image:url("images/bg.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%;
    min-height:100vh;

    min-height:100vh;
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family: Arial, sans-serif;
}/* ===========================
   MAIN CONTAINER
=========================== */

.container{
    width:100%;
    max-width:420px;
    margin:auto;
    min-height:100vh;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* ===========================
   TITLE
=========================== */

.container h1{
    font-size:38px;
    margin-bottom:10px;
}

.container p{
    color:#666;
    margin-bottom:35px;
}

/* ===========================
   ICON CARDS
=========================== */

.cards{
    width:100%;
    display:flex;
    justify-content:space-between;
    gap:15px;
}

.card{
    width:48%;
    background:#fff;
    border-radius:18px;
    padding:25px 10px;
    text-align:center;
    box-shadow:0 3px 12px rgba(0,0,0,.15);
    cursor:pointer;
    transition:.3s;
}

.card:hover{
    transform:scale(1.03);
}

.card i{
    font-size:50px;
    color:#0d6efd;
    margin-bottom:12px;
}

.card h2{
    font-size:20px;
}

/* ===========================
   FORM
=========================== */


.form-box{
    width:95%;
    max-width:500px;   /* 420px బదులుగా 500px */
    background:#fff;
    padding:40px 30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    box-sizing:border-box;
}

.form-box h2{

    text-align:center;

    margin-bottom:25px;

    font-size:28px;

}

.form-box input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:17px;

    box-sizing:border-box;

}

.form-box button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#1565c0;

    color:#fff;

    font-size:18px;

    cursor:pointer;

}

.form-box button:hover{

    background:#0d47a1;

}
/* ===========================
   MOBILE
=========================== */

@media screen and (max-width:600px){

    .form-box{
        width:96%;
        max-width:none;
        padding:35px 25px;
        border-radius:20px;
    }

    .form-box h2{
        font-size:30px;
    }

    .form-box input{
        height:55px;
        font-size:18px;
    }

    .form-box button{
        height:55px;
        font-size:18px;
    }

}

/* ===========================
OWNER DASHBOARD
=========================== */

.top-bar{
    width:100%;
    max-width:1200px;
    margin:30px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 20px;
}

.top-bar h2{
    font-size:38px;
    color:#222;
}

.logout-btn{
    background:#e53935;
    color:#fff;
    border:none;
    padding:12px 30px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.logout-btn:hover{
    background:#c62828;
}

.dashboard-grid{

    width:100%;
    max-width:1200px;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

    padding:20px;
}

.dashboard-card{

    background:#ffffff;

    border-radius:20px;

    padding:50px 20px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    cursor:pointer;

    transition:.3s;
}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

.dashboard-card{

    font-size:70px;
}

.dashboard-card h3{

    margin-top:20px;

    font-size:28px;

    color:#222;
}


@media(max-width:768px){

    .dashboard-grid{

        grid-template-columns:repeat(2,1fr);

        gap:12px;

        padding:10px;
    }

    .dashboard-card{

        padding:20px 10px;

        font-size:38px;
    }

    .dashboard-card h3{

        font-size:16px;
    }

    .top-bar h2{

        font-size:28px;
        text-align:center;
    }

}
/* =========================
   STAFF LOGIN
========================= */

.staff-login-container{
    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.staff-login-box{

    width:90%;
    max-width:430px;

    background:#fff;

    padding:35px;

    border-radius:18px;

    box-shadow:0 10px 25px rgba(0,0,0,.18);

    text-align:center;
}

.staff-login-box h2{

    font-size:32px;

    margin-bottom:25px;

    color:#222;
}

.staff-login-box input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:17px;

    outline:none;
}

.staff-login-box input:focus{

    border-color:#1565c0;
}

.staff-login-box button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#1565c0;

    color:#fff;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

.staff-login-box button:hover{

    background:#0d47a1;
}

/* Mobile */

@media(max-width:600px){

.staff-login-box{

    width:95%;

    padding:30px 22px;

    border-radius:18px;
}

.staff-login-box h2{

    font-size:28px;
}

.staff-login-box input{

    height:55px;

    font-size:18px;
}

.staff-login-box button{

    height:55px;

    font-size:18px;
}

}